*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;;
}
.contenedor{
    background-color:rgb(223, 223, 143);
}
.conteiner-redes{   
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 15px;
    font-size: 25px;
    background-color: rgb(182, 197, 197);
}
.barra{
    position: fixed;
    z-index: 1;
    width: 8%;
    height: 9%;
    transition: .4s all;
}
.barra ul{
    padding: 0px;
    text-align: center;
} 
.barra li{
    transition: .3 all;
} 
.barra a{
    text-decoration: none;
    list-style: none;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}
.barra h2{
    text-align: center;
    color: white;
    padding: 7px;
    padding-bottom: 7px;
    font-size: 0px;
}
.barra img{
    padding-top: 30px;
    padding-left: 5px; 
}
.barra:hover{
    width: 80%;
    height: 100%;
    background-color: rgb(145, 170, 164);
}
.barra:hover h2{
    padding: 20px;
    font-size: 35px;
}
.barra:hover a{
    font-size: 20px;
    color: white;
    display: block;
    padding: 30px;
}
.barra:hover img{
    height: 0px;
    margin: 0px;
}
.barra:hover li{
    border-top: 1px solid rgb(36, 53, 16);
}
.barra:hover a:hover{
    font-size: 25px;
    padding: 30px 0px;
    background-color: rgb(241, 68, 68);
    transform: translateY(-10%);
}

.conteiner-menu-2{
    display: none;
}    

.titulos{
    margin-top: 30px;
}
.texto1{
    margin-top: 110px;
    font-size: 2.3em;
    text-align: center;
}
.texto2{
font-size: 1.1em;
text-align: justify;
margin: 10px 35px;
}

.texto{
    text-align: justify;
    margin: 30px 40px;
    font-size: 1.2em;
}

.imagen{
        width: 80%;
        margin-left: 10%;
        margin-top: 30px;
        border: 3px solid black;
}
.imagen2{
    width: 80%;
    margin-left: 10%;
    border: 3px solid rgb(121, 37, 37);
    height: 300px;
}

.conteiner-form{
    background-color: rgb(40, 61, 61);
    width: 80%;
    height: 290px;
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 10px;
    border-radius: 5%;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left:0;
}
.form__items{
    height: 30px;
    width: 90%;
    margin: 15px 5px;
    background: transparent;
    border: none;
    font-size: 1em;
    outline: none;
    color: snow;
    margin-left: 10px;
}
.form__items:focus{
    background: linear-gradient(to bottom, transparent , rgb(44, 48, 49));
    width: 90%;
}
.form__input{
    height: 30px;
    width: 150px;
    background-color: rgb(22, 54, 65);
    color: lightcyan;
    margin-top: 5px;
    margin-left: 10px;
    border:none;
}
.form__input:hover{
    transform: translateX(8%) translateY(8%);
    background-color: rgb(45, 96, 128);
}

.texto-cabañas{
    text-align: center;
    margin-top: 60px; 
    font-size: 1.3em;
}
.titulo-cabañas{
    margin: 30px;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}
.titulo-lista{
    margin-top: 30px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
}
.lista-cabañas{
    margin:30px 60px ;
}
.items-lista{
    font-weight: 600;
    margin-left: 10px;
    margin-top: 25px;
}

.titulo-cabañas2{
    margin: 40px;
    font-size: 1.1em;
    font-weight: bolder;
    text-align: center;
}

.titulo-lista2{
    margin-top: 40px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
}

.lista-cabañas2{
    margin:10px 60px ;
}
.items-lista2{
    font-weight: 600;
    margin-left: 10px;
    margin-top: 25px;
}
.items-enlace{
    margin-top: 20px;
    margin-left: 10px;
}
.conteiner-footer{
    margin-top: 60px;
    background-color: rgb(49, 82, 82);
    color: floralwhite;
    
}
.titulo-footer{
    padding-top: 25px;
    padding-left: 15px;
    font-size: 1.1em;
}
.titulo-footer:hover{
    color: lightgreen;
}
.titulo-footer2{
    padding-top: 25px;
    padding-left: 15px;
}
.titulo-footer:hover{
    color: lightgreen;
}
.redes-footer{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 40px;
}
.lista-footer  a{
    color: floralwhite;
    line-height: 1.8em;
}



/*escritorio*/

@media(min-width:700px){
    
    .contenedor{
            background-color:rgb(223, 223, 143);
    }
    .conteiner-redes{
        position: fixed;
        z-index: 10;
        right: 0%;
        top: 50%;
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
        transition: all .5s;
        border-radius: 5% 0 0 5%;
        background-color: rgb(162, 179, 179);
    }
    

    .fab{
        padding: 10px;
        transition: all .5s;
    }
    
    .fab:hover{
        color:rgb(153, 56, 56);
        border-radius: 1rem, 0 0 1rem; 
    }
    
    .barra{
        display: none;
    }
    
    .conteiner-menu-2{
        list-style:none;
        background-color: rgb(211, 188, 188);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
        font-size: 2em;
        margin: 0%;
        font-weight: 500;
    }
    .texto2{
        margin: 10px 250px;
        font-size: 1.3em;
    }
    .imagen{
        margin: 10px;
        width: 700px;
        margin-left: 350px;
    }
    
.texto{
    margin: 10px 250px;
    padding-top: 30px;
}
.conteiner-form{
    width: 500px;
    margin-left: 400px;
}
.imagen2{
    margin: 10px;
    width: 750px;
    height: 500px;
    margin-left: 350px;
}

.imagen2:hover{
    border:4px solid rgb(57, 95, 57) ;
    transform: translateY(-3%);
}
.lista-cabañas{
    list-style: none;
    text-align: center;
}
.lista-cabañas2{
    list-style: none;
    text-align: center;
}
.conteiner-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titulo-footer{
    margin-top: 10px;
    padding-top:30px;
    font-size: 1.1em;
}
.titulo-footer2{
    margin-top: 20px;
    font-size: 1.2;
}
.titulo-footer:hover{
    color: rgb(124, 233, 124);
}
.titulo-footer2:hover{
    color: rgb(175, 189, 175);
}
}



