*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
.conteiner-contacto{

}

.contenedor{
    background-color:rgb(223, 223, 143);
}

.conteiner-redes{   
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 15px;
    font-size: 25px;
    background-color: rgb(188, 219, 219);
}
.barra{
    position: fixed;
    z-index: 1;
    width: 8%;
    height: 9%;
    transition: .4s all;
}
.barra ul{
    padding: 0px;
    text-align: center;
} 
.barra li{
    transition: .3 all;
} 
.barra a{
    text-decoration: none;
    list-style: none;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}
.barra h2{
    text-align: center;
    color: white;
    padding: 7px;
    padding-bottom: 7px;
    font-size: 0px;
}
.barra img{
    padding-top: 30px;
    padding-left: 5px; 
}
.barra:hover{
    width: 80%;
    height: 100%;
    background-color: rgb(145, 170, 164);
}
.barra:hover h2{
    padding: 20px;
    font-size: 35px;
}
.barra:hover a{
    font-size: 20px;
    color: white;
    display: block;
    padding: 30px;
}
.barra:hover img{
    height: 0px;
    margin: 0px;
}
.barra:hover li{
    border-top: 1px solid rgb(36, 53, 16);
}
.barra:hover a:hover{
    font-size: 25px;
    padding: 30px 0px;
    background-color: rgb(241, 68, 68);
    transform: translateY(-10%);
}
.conteiner-menu-2{
    display: none;
}
.titulos{
    margin-top: 140px;
    text-align: justify;
}
.titulo-central{
    margin: 5px 5px;
    font-size: 2.3em;
    text-align: center;
}
.titulo1{
    margin-top:30px;
    margin-left: 30px;
    font-size: 1.5em;
    
}
.titulo2{
    margin: 30px 35px;
    font-size: 1.2em;
    text-align: justify;
}
.cabañas{
    width: 80%;
    margin-top: 15px;
    margin-left: 30px;
    border:3px solid red;
}
.titulo3{
    margin: 30px 40px;
    font-size: 1.4em;
    text-align: justify;
}
.ubicacion{
    width: 450px;
    height: 300px;
    margin-left: 20px;
}
.conteiner-contacto{
background-color: rgb(218, 214, 199);
border: 2px solid rgb(190, 61, 61);
margin-top: 30px;
margin-left: 40px;
margin-right: 40px;
}
.titulo4{
    margin-top: 20px;
margin-left: 40px;
}
.lista-contacto{
    margin-top: 30px;
    list-style: none;
    font-size: 1.1em;
    font-weight: bolder;
}
.conteiner-footer{
    margin-top: 60px;
    background-color: rgb(49, 82, 82);
    color: floralwhite;
    
}
.titulo-footer{
    padding-top: 25px;
    padding-left: 15px;
    font-size: 1.1em;
}
.titulo-footer:hover{
    color: lightgreen;
}
.titulo-footer2{
    padding-top: 25px;
    padding-left: 15px;
}
.titulo-footer2:hover{
    color: lightgreen;
}
.redes-footer{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 40px;
}
.lista-footer  a{
    color: floralwhite;
    line-height: 1.8em;
}



/*escritorio*/

@media(min-width:700px){
    
    .contenedor{
        background-color:rgb(223, 223, 143);
    }
    .conteiner-redes{
        position: fixed;
        z-index: 10;
        right: 0%;
        top: 50%;
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
        transition: all .5s;
        border-radius: 5% 0 0 5%;
        background-color: rgb(162, 179, 179);
    }
    .fab{
        padding: 10px;
        transition: all .5s;
    }
    
    .fab:hover{
        color:rgb(153, 56, 56);
        border-radius: 1rem, 0 0 1rem; 
    }
    
    .barra{
        display: none;
    }
    
    .conteiner-menu-2{
        list-style:none;
        background-color: rgb(211, 188, 188);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
        font-size: 2em;
        margin: 0%;
        font-weight: 500;
        
    }

.titulo-central{
    margin: 5px 5px;
    font-size: 2.6em;
    text-align: center;
}
.titulo1{
    margin-top:30px;
    margin-left: 130px;
    font-size: 1.9em;
}
.titulo2{
    margin: 30px 130px;
    font-size: 1.3em;
    text-align: justify;
}
.cabañas{
    width: 80%;
    height: 550px;
    margin-top: 15px;
    margin-left: 130px;
    border:3px solid red;
}
.cabañas:hover{
    border:4px solid rgb(106, 223, 106) ;
    transform: translateY(-3%);
}
.titulo3{
    margin-top:40px;
    margin-left:130px;
    font-size: 1.4em;
    }
.ubicacion{
    width: 70%;
    height: 500px;
    margin-left: 210px;
}
.conteiner-contacto{
    width: 50%;
    margin-left: 280px;
}
 
.conteiner-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(49, 82, 82);
    height: 300px;
    margin-top: 40px;
}
.titulo-footer{
    margin-top: 10px;
    padding-top:30px;
    font-size: 1.1em;
    color: cyan;
}
.titulo-footer2{
    margin-top: 20px;
    font-size: 1.2;
    color: cyan;
}
.titulo-footer:hover{
    color: rgb(124, 233, 124);
}
.titulo-footer2:hover{
    color: rgb(175, 189, 175);
}
.lista-footer{
    color: cyan;
    font-size: 1.1em;
}
}







    
