body{
        box-sizing: border-box;   
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 237, 237);
        padding: 0;
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
.titulo{
        font-size: 30px;
        font-weight: 700;
        margin:0;
}
.texto1{
        margin-right: 700px;
        font-size: 21px;
        font-weight: 900;
        color: rgb(114, 129, 143);
    }
.texto2{
        font-size: x-large;
        margin-right: 730px;
        font-size: 20px;
        margin-top: 10px;
        line-height: 28px;
        color: rgb(114, 129, 143);
}
img{
        display: flex;
        position: absolute;
        align-self: flex-end;
        margin-top: 20px;
        margin-top: 0;
        margin-right: 0;
        width: 650px;
        height: 430px;
    }
.fondo{
        font-size: large;
        line-height: 25px;
        width: 1310px;
        margin-top: 60px;
        margin-right: 20px;
        color: rgb(114, 129, 143);
    }

